html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'helvetica neue', sans-serif;
    overflow-x: hidden;
}

p {
    font-weight: lighter;
}

/* navigation */

header nav {
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 98;
}
header nav ul {
	list-style-type: none;
    width: 100%;
    padding: 5rem;
    z-index: 98;
}
header nav ul li {
    width: 100%;
    border-bottom: solid 2px #fff;
    z-index: 98;
}

header nav ul li:nth-child(1) {
    border-top: solid 2px #fff;
}

header nav ul li a {
    font-size: 5vw;
    text-decoration: none;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 98;
}


header nav ul li a:hover {
	background-color: #ffff05;
    color: #000;
}
.toggle-btn {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 100;
}
.toggle-btn .bar {
    width: 30px;
    height: 2px;
    margin: 7px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
    z-index: 99;
}

#toggle:checked ~ nav {
    opacity: 1;
    visibility: visible;
    z-index: 99;
}
#toggle:checked ~ nav ul {
	top: 70px;
    z-index: 99;
}
#toggle:checked ~ nav ul li {
	transform: translateY(0px);
	opacity: 1;
    z-index: 99;
}
#toggle:checked ~ nav ul li:nth-child(1) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#toggle:checked ~ nav ul li:nth-child(2) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#toggle:checked ~ nav ul li:nth-child(3) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#toggle:checked ~ nav ul li:nth-child(4) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}   
#toggle:checked ~ nav ul li:nth-child(5) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.5s;
}
#toggle:checked + label.toggle-btn .bar {
	background-color: white;
}
#toggle:checked + label.toggle-btn .bar:nth-child(2) {
	transform: translateX(50px);
	opacity: 0;
}
#toggle:checked + label.toggle-btn .bar:nth-child(1) {
	transform: translateY(10px) rotate(45deg);
}
#toggle:checked + label.toggle-btn .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
 
/* navigation end */

/* hero section */

.hero-wrapper {
    padding: 3rem;
}

.hero-title {
    font-size: 7vw;
    text-align: justify;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: grey;
    line-height: 1;
}

.hero-title > span {
    color: white!important;
}

.hero-wrapper > .row > a {
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

.banner {
    background-color: #ffff05;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 6vw;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    transform: rotate(2deg);
}

.banner-text {
    /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 10s linear infinite;
  -webkit-animation: my-animation 10s linear infinite;
  animation: my-animation 10s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* test */

.tickerwrapper {
  /* the outer div */
  
    position: relative;
    top: 0;
    left:0%;
    border: solid 2px #fff;
    background: #ffff05;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.tickerwrapper-2 {
    position: relative;
    bottom: 0;
    left:0%;
    border: solid 2px #fff;
    background: #ffff05;
    width: 100%;
    height: auto;
    overflow: hidden;
}

ul.list {
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
    color: #000;
    font-size: 5vw;
    font-weight: bold;
}

ul.list-2 {
    display: inline-block;
    list-style: none;
    padding:0;
    margin:0;
    color: #000;
    font-size: 5vw;
    font-weight: bold;
}


ul.list.cloned {
    position: absolute;
    top: 0px;
    left: 0px;
}

ul.list-2.cloned {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

ul.list li {
    float: left;
    padding-left: 10px;
}

ul.list-2 li {
    float: left;
    padding-left: 10px;
}

.carousel-control-prev {

}