html, body {
    height: 100%;
    width: 100%;
    margin: 0!important;
    padding: 0!important;
    background-color: #000;
    color: #fff;
    font-family: 'helvetica neue', sans-serif;
    position: relative;
    /* overflow-x: hidden; */
}

.progress {
    position: fixed;
    left: 0;
    bottom: 0!important;
    width: 0%;
    height: 5px!important;
    background-color: #ffff05!important;
    z-index: 999;
}


.skew-scroll {  
    will-change: transform;
    transition: transform 0.25s;
    transform-origin: left;
}

.side-skew-scroll {  
    will-change: transform;
    transition: transform 0.25s;
}

p {
    font-weight: normal;
}

.hah-yellow {
    color: #ffff05!important;
}

.hah-black {
    color: #000;
}

.hah-black-hollow {
    color: #ffff05;
    -webkit-text-stroke: 2px #000;
    -moz-text-stroke: 2px #000;
}

.bg-yellow {
    background-color: #ffff05;
}

.b-and-l {
    filter: grayscale(100%);
}

.hero-tagline {
    display: inline-block;
}

#loading-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* navigation */



.navbar {
    width: 100%;
    padding: 25px;
    background-color: rgba(0, 0, 0, .3);
    z-index: 998;
}

.nav-item > .nav-link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none!important; 
    font-weight: bold;
    transition: .5s ease-in-out;
}

.nav-item > .nav-link:hover {
    transform: skew(-10deg);
    color: #ffff05!important;
}

.nav-item > .nav-link.active {
    background-color: #ffff05!important;
    color: #000!important;
}

#menu-vid-1 {
    width: 700px;
}

#menu-vid-2 {
    width: 1000px;
    transform: translate(0%, -10%);
}

#menu-vid-3 {
    width: 400px;
    transform: translate(-30%, -40%);
}

#menu-vid-4 {
    width: 900px;
    transform: translate(10%, -60%);
}

#menu-vid-5 {
    width: 700px;
    transform: translate(0%, -80%);
}

@media only screen and (max-width: 1200px) {
    #menu-vid-1,
    #menu-vid-2,
    #menu-vid-3,
    #menu-vid-4,
    #menu-vid-5 {

        display: none;

    }
}

.video-hover {
    visibility: hidden;
    position: absolute;
    margin-left: auto;
    left: 0;
    right: 10%;
    filter: grayscale(100%);
    opacity: 0;
    z-index: 1;
}

.menu-link:hover .video-hover {
    visibility: visible;
    opacity: .5;
    transition: visibility 0s, opacity .5s ease-in-out;
}

header nav {
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 98;
}
header nav ul {
	list-style-type: none;
    width: 100%;
    padding: 5rem;
    z-index: 98;
}
header nav ul li {
    width: 100%;
    border-bottom: solid 2px #fff;
    z-index: 98;
}

header nav ul li:nth-child(1) {
    border-top: solid 2px #fff;
}

header nav ul li a {
    font-size: 5vw;
    text-decoration: none;
    color: #fff;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 999;
}


header nav ul li a:hover {
	background-color: #ffff05;
    color: #000;
}
.toggle-btn {
    display: block;
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    z-index: 100;
    margin-right: 50px;
}
.toggle-btn .bar {
    width: 30px;
    height: 2px;
    margin: 7px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
    z-index: 99;
}

#toggle:checked ~ nav {
    opacity: 1;
    visibility: visible;
    z-index: 99;
}

#toggle:checked ~ nav ul {
	top: 70px;
    z-index: 99;
}
#toggle:checked ~ nav ul li {
	transform: translateY(0px);
	opacity: 1;
    z-index: 99;
}
#toggle:checked ~ nav ul li:nth-child(1) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.1s;
}
#toggle:checked ~ nav ul li:nth-child(2) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.2s;
}
#toggle:checked ~ nav ul li:nth-child(3) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.3s;
}
#toggle:checked ~ nav ul li:nth-child(4) {
	transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.4s;
}   
#toggle:checked ~ nav ul li:nth-child(5) {
    transition: all 0.3s cubic-bezier(0.6, 0, 0.8, 1.5) 0.5s;
}
#toggle:checked + label.toggle-btn .bar {
	background-color: white;
}
#toggle:checked + label.toggle-btn .bar:nth-child(2) {
	transform: translateX(50px);
	opacity: 0;
}
#toggle:checked + label.toggle-btn .bar:nth-child(1) {
	transform: translateY(10px) rotate(45deg);
}
#toggle:checked + label.toggle-btn .bar:nth-child(3) {
	transform: translateY(-8px) rotate(-45deg);
}
 
/* navigation end */

#page-wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* hero section */

.hero-wrapper {
    padding: 3rem;
    height: 100vh;
}

.hero-title {
    font-size: 5.5vw;
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: grey;
    line-height: 1;
}

@media only screen and (max-width: 1440px) {
    .hero-title {
        font-size: 5vw;
    }
}

.hero-title:nth-child(1) {
    animation-name: appear;
    animation-duration: 1s;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 1s;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;
}

.hero-title:nth-child(2) {
    animation-name: appear;
    animation-duration: 1s;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 1s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;
}

.hero-title:nth-child(3) {
    animation-name: appear;
    animation-duration: 1s;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 1s;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;
}

.hero-title:nth-child(4) {
    animation-name: appear;
    animation-duration: 1s;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 1s;
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;
}


.hero-title:nth-child(5) {
    animation-name: appear;
    animation-duration: 1s;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 3s;
    animation-delay: 5s;
    -webkit-animation-delay: 5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;
}

#scroll-down {
    animation-name: appear;
    animation-duration: 1s;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 3s;
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    visibility: hidden;
}

@keyframes appear {
    from {visibility: hidden;}
    to {visibility: visible;}
}


.hero-wrapper > .row > a {
    font-family: 'Helvetica Neue', sans-serif;
    color: #fff;
    text-decoration: underline;
    text-transform: uppercase;
}

/* .wrapper {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-transform: rotate(6deg) scaleX(1.1);
    -moz-transform: rotate(6deg) scaleX(1.1);
    transform: rotate(6deg) scaleX(1.1);
    position: absolute;
} */

.wrapper {
    max-width: 100%;
    overflow-x: hidden;
    position: absolute;
}
  

  .wrapper-2 {
    max-width: 100%;
    overflow-x: hidden;
    -webkit-transform: rotate(-6deg) scaleX(1.1);
    -moz-transform: rotate(-6deg) scaleX(1.1);
    transform: rotate(-6deg) scaleX(1.1);
    position: absolute;
  }

  .wrapper-3 {
    max-width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: #ffff05;
    border: solid 2px #fff;
  }
  
  .marquee-1 {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee-1 120s linear infinite;
    font-size: 20vw;
    color: #000;
    -webkit-text-stroke: 2px #ffff05!important;
    -moz-text-stroke: 2px #ffff05!important; 
  }

  .marquee-2 {
    
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee-2 50s linear infinite;
    font-size: 6vw;
    background-color: #ffff05;
    color: #000;
  }

  .marquee-3 {
    
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee-1 50s linear infinite;
    font-size: 6vw;
    color: #000;
  }
  
  
  .marquee-1 p,
  .marquee-2 p {
    display: inline-block;
  }
  
  @keyframes marquee-1 {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

  @keyframes marquee-2 {
    0% {
      transform: translate3d(-50%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }


#intro-section {
    margin-top: 0;
    margin-bottom: 20vw;
    padding-top: 20vw;
}

#intro-image-1 > video {
    margin-top: 30px; 
}

.read-btn {
    border: solid 2px #ffff05;
    border-radius: 0;
    margin-top: 40px;
    padding: 20px 30px 20px 30px;
    font-weight: 900;
    transition: all .5s ease-in-out;
}

.read-btn:hover {
    background-color: #ffff05!important;
    color: #000!important;
    transform: skew(-10deg);
}

.carousel-item img {
    max-height: 900px;
    object-fit: cover;
}

.carousel-control-prev, .carousel-control-next {
    background: rgba(0, 0, 0, 1);
    opacity: 1;
}

.carousel-control-prev {
    border-right: solid 2px #fff;
    text-transform: uppercase;
    font-size: 1.8vw;
    color: #fff!important;
}

.carousel-control-next {
    border-left: solid 2px #fff;
    text-transform: uppercase;
    font-size: 1.8vw;
}

.carousel-control-prev:hover, 
.carousel-control-next:hover,
.carousel-control-prev:active,
.carousel-control-next:active
{
    opacity: 1!important;
}

/* Our Aim */

#our-aim {
    height: 100%;
}

.nav-pills > .nav-link {
    background-color: transparent!important;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    -webkit-text-stroke: 2px #fff;
    -moz-text-stroke: 2px #fff;
}


.nav-pills > .nav-link:hover, .nav-link:active {
    color: #fff;
}


.img-cover {
    max-height: 1200px;
    object-fit: cover;
}

.video-fluid {
    max-width: 100%;
    height: auto;
}

.tab-pane {
    font-size: 1.2vw;
}

.block-quote {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
}

.outcome-img {
    min-height: 100%;
    object-fit: cover;
}

.outcome-copy {
    font-size: 20px;
}

@media (max-width: 767.98px) {
    .outcome-copy {
        font-size: 14px;
    }
}


  .scroll-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #ffff05;
  }
  
  .space-holder {
    position: relative;
    width: 100%;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    /* width: 100%; */
    overflow-x: hidden;
  }
  
  .horizontal {
    position: absolute;
    height: 100%;
    will-change: transform;
  }
  
  .cards {
    position: relative;
    height: 100%;
    /* padding: 0 0 0 150px; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  
  .sample-card {
    position: relative;
    height: 100%;
    width: 1200px;
    padding-left: 100px;
    margin-right: 150px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .card-text-1,
  .card-text-2,
  .card-text-3,
  .card-text-4 {
      z-index: 800;
  }

  .sample-card:nth-child(1),
  .sample-card:nth-child(3) {
      width: 500px;
  }


  .sample-card:nth-child(7) {
      width: 1500px;
  }

  .sample-card > h1 {
      width: 100vw;
  }

  

  .outcome-desc {
      font-size: 18px;
  }

.visit-us-link {
    text-decoration: underline;
    color: #fff;
    transition: all .2s ease-in-out;
}

.contact-title {
    font-size: 6vw;
    line-height: 6vw;
}

.contact-link, .contact-heading {
    font-size: 4vw;
    line-height: 4vw;
}

.visit-us-link:hover {
    background-color: #ffff05;
    color: #000;
}

.fill-hover {
    transition: all .2s ease-in-out;
    text-decoration: none;
}

.fill-hover:hover {
    color: #000;
    text-decoration: underline;
}

.resource-list {
    padding: 3rem;
    list-style: none;
    width: 100%;
    position: relative;
}


.resource-link {
    text-transform: uppercase;
    font-size: 5vw;
    border-bottom: solid 2px #fff;
    width: 100%;
    line-height: 5vw;
    padding: 2rem;
}

.resource-link a {
    color: #ffff05;
    text-decoration: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.resource-link a:hover {
    background-color: #ffff05;
    color: #000;
}

.resource-link span {
    font-size: 24px;
}
.img-hover-outer {
    position: relative;
}
.img-hover {
    visibility: hidden;
    width: 700px;
    position: absolute;
    top: 10%;
    right: -70%;
    filter: grayscale(100%);
    opacity: 0;
    transition: visibility 0s, opacity .5s ease-in-out;
    z-index: -1;
}

.img-hover-outer:hover .img-hover {
    visibility: visible;
    opacity: 1;
}

.footer {
    padding: 70px 20px;
}

.footer-link {
    text-decoration: underline;
    color: #fff;
    transition: all .5s ease-in-out;
}

.footer-link:hover {
    color: #000;
    background-color: #ffff05;
    transform: skewX(10%);
}

@media (max-width: 575.98px) {

    .hero-wrapper {
        margin-top: 2rem;
    }


    .hero-title {
        font-size: 10vw;
    }

    

    .nav-link {
        /* height: auto; */
        -webkit-text-stroke: 1px #fff!important;
        -moz-text-stroke: 1px #fff!important;

    }

    .tab-pane {
        font-size: 16px;
    }

    
}

@media (max-width: 767.98px) {

    .toggle-btn {
        margin-right: 35px;
    }

    header nav ul {
        padding: 2rem;
    }

    header nav ul li a {
        font-size: 11vw;
    }

    .hero-title {
        text-align: left;
    }

    .marquee-1, .marquee-2 {
        font-size: 20vw;
    }

    .tab-pane {
        font-size: 2.2vw;
    }

    .nav-pills > .nav-link {
        font-size: 8vw;
    }

    .block-quote {
        font-size: 1rem;
    }

    .sample-card {
        height: 100px;
        width: 300px;
    }

    .sample-card:nth-child(1),
    .sample-card:nth-child(3) {
        width: 400px;
    }

    .sample-card > h1 {
        width: 75vw;
    }

    .sample-card > h1:last-of-type {
        font-size: 24px;
    }

    .outcome-desc {
        font-size: 14px;
        padding-right: 0;
    }

    

    .resource-link > span:last-child {
        display: none;
    }

}

@media (max-width: 991.98px) {

    .nav-link {
        font-size: 8vw!important;
    }

    .tab-pane {
        font-size: 1.25rem;
    }

    #our-aim {
        height: auto;
    }

    .sample-card {
        height: 100px;
        width: 600px;
    }

    .contact-title {
        font-size: 3rem;
        line-height: 3rem;
    }

    .contact-heading, .contact-link {
        font-size: 2.5rem;
        line-height: 2.5rem;
        word-wrap: break-word;
    }

    .resource-list {
        padding: 0;
    }

    .resource-link {
        font-size: 24px;
        line-height: 24px;
        padding: 1rem;
    }

}

@media (max-width: 1199.98px) {

    /* .nav-link {
        height: 33.33%!important;
    } */
    .hero-wrapper {
        padding: 1rem;
        
    }

    .hdy-logo {
        width: 500px;
        height: auto;
        margin: auto;    
        display: block;
    }

    .display-2 {
        font-size: 2rem;
    }

}

@media (max-width: 1399.98px) {

}